
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Main Wrapper */
.main-wrapper {
    display: flex;
    width: 100%;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    background: linear-gradient(-45deg, #76ABAE, #31363F);
    padding: 20px;
    color: white;
}

.page-title-box h3 {
    padding: 20px;
    margin-left: 30px;
    color: #fff;
}

nav {
    background: linear-gradient(45deg, #76ABAE, #31363F);
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* Page Content */
.content {
    flex-grow: 1;
    padding: 20px;
}

.profile-basic {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.card-title {
    margin-bottom: 15px;
    color: #333;
    font-size: 1.5em;
    border-bottom: 2px solid #222831;
    padding-bottom: 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}


.profile-basic a {
    text-decoration: none;
    color: #0c919b;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    transition: color 0.3s ease;
    border-radius: 5px;
    padding: 5px 10px;
}

.profile-basic a:hover {
    color: #ffffff;
    background-color: #799ea0;
}

.user-name {
    font-size: 1.3em;
    margin: 15px 0;
}

.personal-info {
    list-style: none;
    padding: 0;
}

.personal-info li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.1em;
}

.personal-info li:last-child {
    border-bottom: none;
}

/* Footer */
footer {
    background: linear-gradient(-45deg, #76ABAE, #31363F);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 5px 0;
    position: fixed;
    width: calc(100% - 250px); /* Adjust according to the sidebar width */
    bottom: 0;
    left: 250px; /* Adjust according to the sidebar width */
}

/* Footer Text */
footer p {
    padding-right: 50px;
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column;
    }

    
    footer{
        width: 100%;
        height: auto;
        position: static;
        box-shadow: none;
        padding-top: 15px;
    }

    .header {
        width: 30%;
        border-radius: 0 0 0px 0px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li {
        margin-bottom: 0;
    }

    .content {
        padding: 10px;
    }

    .profile-details {
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
